{
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "plugins": ["prettier-plugin-tailwindcss"],
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}